<%- include('header') %>
<%- include('navbar') %>


<div class="row">
        <!-- Main Dashboard Section -->
        <div class="col-lg-9 col-sm-12" id="dashboard">
                <button class="toggle-button btn btn-light d-none d-lg-block">></button>
                <div class="page-headings">
                        <h1><%=timeGreeting %><%=firstName%></h1>
                        <h2 class="bold"><em>Let's do this.</em></h2>
                </div>

        <!-- Donut Charts -->

        <div class="goals center">
                <h2 class="bold">Your goals</h2>
                <div class="row">
                        <div class="col-md-4 donut-div">
                                <canvas id="waterchart" class="donut" width="250" height="250"></canvas>
                                <button id="showWaterLog" class="btn btn-primary">Log Water</button>

                                <div id="addWater" class="collapsed-div">
                                <form action="addWater" method="post">
                                        <p class="log-para bold">I drank </p>
                                        <input class="form-control log-input" type="number" name="logWater">
                                        <p class="log-para bold">ounces of water</p>
                                        <button class="btn btn-primary log-button" type="submit">Log</button>
                                </form> 
                                </div>
                        </div>
                        <div class="col-md-4 donut-div">
                                <canvas id="echart" class="donut" width="250" height="250"></canvas>
                                <button id="showExerciseLog" class="btn btn-dark">Log Exercise</button>
                                <div id="addExercise" class="collapsed-div">
                                        <form action="addExercise" method="post">
                                                <p class="log-para bold">I did </p>
                                                <input class="form-control log-input" type="number" name="logExercise">
                                                <p class="log-para bold">minutes of exercise</p>
                                                <button class="btn btn-dark log-button">Log</button>
                                        </form> 
                                        </div>
                            </div>
                        <div class="col-md-4 donut-div">
                                <canvas id="foodchart" class="donut" width="250" height="250"></canvas>
                                <button id="showCalorieLog" class="btn btn-light">Log Calories</button>
                                        <div id="addCalories" class="collapsed-div">
                                                <form action="addCalories" method="post">
                                                        <p class="log-para bold">I Ate</p>
                                                        <input class="form-control log-input" type="number" name="logCalories">
                                                        <p class="log-para bold">Calories</p>
                                                        <button class="btn btn-light log-button">Log</button>
                                                </form> 
                                        </div>
                        </div>
                </div>
        </div>



        </div>
        <div class="col-lg-3" id="saved-workouts">
                <h3 class="center"> Saved Workouts</h3>
                <hr>
                <% for (i=0; i < workouts.length; i++){ %>
                    <div class="dashboard-workout center">
                        <h4><%= workouts[i].name %></h4>
                        <ul class="exercise-list">
                            <% for(exercise in workouts[i]){ %>
                                <% if(exercise.startsWith('exercise') && workouts[i][exercise]){ %>
                                    <li><%= workouts[i][exercise] %></li>
                                <% } %>
                            <% } %>
                        </ul>
                        <form action="/chosenWorkout" method="post">
                                <input
                                    type="hidden"
                                    name="workoutId"
                                    value="<%= workouts[i]._id %>" />
                                <button class="btn btn-dark start-workout-button" type="submit">
                                    Log Workout</button>
                            </form>
                        <form action="/deleteWorkout" method="post">
                                <input type="hidden" name="workoutId" value="<%= workouts[i]._id %>">

                                <button type="submit" class="btn btn-warning delete-workout-button bold">Delete</button>
                              </form>
                              
                        <hr>
                    </div>
                <% } %>
                <a href="/workouts"><button class="btn btn-primary">Create New Workout</button></a> 
                
            </div>
            <section  id="logged-workouts-display">
            <div class="row">
                <div class="col-md-12 display-title">
                        <h4 class="center">Previous Workouts</h4>
                        <a href='/previousWorkouts'><p>See more...</p></a>
                </div>  
            </div>

        <div class="row logged-workouts-row">
                <% for(i = loggedWorkouts.length-1; i >= loggedWorkouts.length-3; i--){ %>
                  <% if(loggedWorkouts[i]) { %>
                    <div class="col-lg-4 col-xs-12 logged-workout">
                      <p class="logged-workout-heading bold center"><%= loggedWorkouts[i].name %></p>
                      <p class="logged-workout-date center"><%= loggedWorkouts[i].date %></p>
                      <hr>
                      <% for(j = 1; j <= 8; j++) { %>
                        <% if(loggedWorkouts[i]['exercise' + j]) { %>
                        <div class="logged-exercise-para">
                                <p><%= loggedWorkouts[i]['exercise' + j].name %></p>
                                <p><%= loggedWorkouts[i]['exercise' + j].sets %> x <%=loggedWorkouts[i]['exercise' + j].reps %> — <%=loggedWorkouts[i]['exercise' + j].weight %> lbs</p>
                        </div>
                        <% } %>
                      <% } %>
                    </div>
                  <% } %>
                <% } %>
              </div>

</section>
<!-- ChartJS -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"></script>
<!-- Custom JS -->
<script src="index.js"></script>
<%- include('footer') %>