<%- include('header') %>
<%- include('navbar') %>


<div class="row">
        <!-- Main Dashboard Section -->
        <div class="col-lg-9 col-sm-12" id="dashboard">
                <button class="toggle-button btn btn-light d-none d-lg-block">></button>
                <div class="page-headings">
                        <h1><%=timeGreeting %><%=firstName%></h1>
                        <h2>Let's do this.</h2>
                </div>

        <!-- Donut Charts -->

        <div class="goals">
                <h2>Your goals</h2>
                <div class="row">
                        <div class="col-lg-4">
                                <canvas id="waterchart" class="donut" width="250" height="250"></canvas>
                        </div>
                        <div class="col-lg-4">
                                <canvas id="echart" class="donut" width="250" height="250"></canvas>
                            </div>
                        <div class="col-lg-4">
                                <canvas id="foodchart" class="donut" width="250" height="250"></canvas>
                        </div>
                </div>
        </div>



        </div>
        <div class="col-lg-3 d-none d-lg-block" id="saved-workouts">
                <h3> Your Workouts</h3>
                <hr>
                <div class="dashboard-workout">
                        <h4>Push Day</h4>
                        <ul class="exercise-list">
                                <li>Dumbbell Bench Press</li>
                                <li>Military Press</li>
                                <li>Cable Crossover</li>
                                <li>Dips</li>
                                <li>Lateral Raises</li>
                                <li>Tricep Extension</li>
                        </ul>
                        <button class="btn btn-dark">Start Workout</button>
                        <hr>
                </div>
                <div class="dashboard-workout">
                        <h4>Pull Day</h4>
                        <ul class="exercise-list">
                                <li>Pull Ups</li>
                                <li>Bent Over Barbell Row</li>
                                <li>Seated Cable Row</li>
                                <li>Back Extensions</li>
                                <li>Seated Incline Curls</li>
                                <li>Hammer Curls</li>
                        </ul>
                        <button class="btn btn-dark">Start Workout</button>
                        <hr>
                </div>
                <div class="dashboard-workout">
                        <h4>Leg Day</h4>
                        <ul class="exercise-list">
                                <li>Goblet Squats</li>
                                <li>Reverse Lunges</li>
                                <li>Barbell Hip Thrusts</li>
                                <li>Calve Raises</li>
                                <li>Leg Extensions</li>
                                <li>Seated Leg Curls</li>
                        </ul>
                        <button class="btn btn-dark">Start Workout</button>
                        <hr>
                </div>
                <div class="dashboard-workout">
                        <h4>Steady State Cardio</h4>
                        <ul class="exercise-list">
                                <li>Stair Master</li>
                                <li>Incline Treadmill</li>
                        </ul>
                        <button class="btn btn-dark">Start Workout</button>
                        <hr>
                </div>
                <button class="btn btn-primary">Create New Workout</button>
        </div>
</div>
                
                
                
                








<%- include('footer') %>