<%- include('header') %> <%- include('navbar') %>

<div class="row">
    <div class="col-md-8 log-workout-div">
        <h1 class="page-headings">🏋️‍♀️ Lets track some gains 🏋️‍♂️</h1>
        <h2>Choose a Workout</h2>

        <div id="enter-workout">
            <% if (chosenWorkout){ %>
            <form action="saveLoggedWorkout" method="post">
                <h4><%=chosenWorkout.name %></h4>
                <input type="hidden" name="chosenWorkoutName" value="<%=chosenWorkout.name %>">
                <div class="row">
                    <div class="container-fluid">
                        <% let i = 1 %> <% for(exercise in chosenWorkout){ %> <%
                        if(exercise.startsWith('exercise') &&
                        chosenWorkout[exercise]){ %>

                        <div class="row log-input-div">
                            <div class="col-sm-5">
                                <p class="log-exercise-name">
                                    <%= chosenWorkout[exercise] %>
                                </p>
                                <input type="hidden" name="exerciseName<%=i%>" value="<%=chosenWorkout[exercise]%>">
                            </div>
                            <div class="col-sm-2 log-col">
                                <label for="set<%=i%>">Sets</label>
                                <input
                                    class="log-input form-control"
                                    type="number"
                                    min="0"
                                    name="set<%=i%>" />
                            </div>
                            <div class="col-sm-2 log-col">
                                <label for="rep<%=i%>">Reps</label>
                                <input
                                    class="log-input form-control"
                                    type="number"
                                    min="0"
                                    name="rep<%=i%>" />
                            </div>
                            <div class="col-sm-2 log-col">
                                <label for="weight<%=i%>">Weight</label>
                                <input
                                    class="log-input form-control"
                                    type="number"
                                    min="0"
                                    name="weight<%=i%>" />
                            </div>
                        </div>
                        <% i++ %> <% } %> <% } %>
                    </div>
                    <% } %>
                </div>
                <button class="btn btn-primary submit-log-btn" type="submit">
                    Log This Workout
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-3" id="saved-workouts2">
        <h3>Your Workouts</h3>
        <hr />
        <% for (i=0; i < workouts.length; i++){ %>
        <div class="dashboard-workout">
            <h4><%= workouts[i].name %></h4>
            <ul class="exercise-list">
                <% for(exercise in workouts[i]){ %> <%
                if(exercise.startsWith('exercise') && workouts[i][exercise]){ %>
                <li><%= workouts[i][exercise] %></li>
                <% } %> <% } %>
            </ul>
            <form action="/chosenWorkout" method="post">
                <input
                    type="hidden"
                    name="workoutId"
                    value="<%= workouts[i]._id %>" />
                <button class="btn btn-dark start-workout-button" type="submit">
                    Log Workout</button
                ><br />
            </form>

            <hr />
        </div>
        <% } %>
        <a href="/workouts"
            ><button class="btn btn-primary">Create New Workout</button></a
        >
    </div>
</div>

<%- include ('footer') %>
