<%- include ('header') %>
<%- include ('navbar') %>

<h1 class="page-headings">Your Previous Workouts.</h1>

<% for (i = loggedWorkouts.length-1; i >= 0; i--){ %>
        <div class="previous-workout">
        <h3><%= loggedWorkouts[i].name %> </h3>
        <p><%= loggedWorkouts[i].date %> </p>
        <% for(j = 1; j <= 8; j++) { %>
                <% if(loggedWorkouts[i]['exercise' + j]) { %>
                                <p><%= loggedWorkouts[i]['exercise' + j].name %></p>
                                <p><%= loggedWorkouts[i]['exercise' + j].sets %> x <%=loggedWorkouts[i]['exercise' + j].reps %> — <%=loggedWorkouts[i]['exercise' + j].weight %> lbs</p>        

        <% } %>
<% } %>
</div>
 <% } %>





<%- include ('footer') %>