<%- include('header') %>
<%- include('navbar') %>

<div class="page-headings">
        <h1>Let's set up your goals, <%=firstName%>.</h1>
</div>
<div class="goal-div">
        <h4>Water</h4>
        <p>Based on your info, your water goal should be:</p><br>
        <h5><%= waterGoal %></h5>
</div>






<%- include('footer') %>