<%- include('header') %>
<%- include('navbar') %>

<div class="page-headings">
        <h1>Let's set up your goals, <%=firstName%>.</h1>
</div>

<section id="water-goal">
        <div class="goal-div">
                <h2>Water</h2>
                <p>Based on your info, your water goal should be:</p> <h5><u><b><%= waterGoal %> ounces per day</b></u></h5>
                <p>Drinking enough water is crucial for good health, as it regulates body temperature, transports nutrients, and removes waste. The Mayo Clinic recommends that adults aim to drink at least 2.7-3.7 liters (11-15.5 cups) of water per day, depending on their size, activity level, and climate. Men generally need more water than women, as they have more muscle mass and higher water content in their bodies. Women should aim to drink at least 2.7 liters (91 ounces) of water per day, while men should aim for about 3.7 liters (125 ounces) per day. Factors such as pregnancy and medical conditions may require more water intake. Stay hydrated, yo.
                (Learn More: <a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/water/art-20044256)">Mayo Clinic)</a></p>
                <button class="btn btn-primary">Change my water goal</button>
        </div>
</section>
<section id="exercise-goal">
        <div class="goal-div">
                <h2>Exercise</h2>
                <p>Based on general guidance, your exercise goal should be:</p> <h5><u><b><%=exerciseGoal%> minutes per day</b></u></h5> <p>(On average; 5 days per week).</p>
                <p>Exercising for 150 minutes a week may sound like a daunting task, but it's actually one of the best things you can do for your health! Not only does it help you maintain a healthy weight, but it also reduces your risk of chronic diseases like heart disease, type 2 diabetes, and certain types of cancer. Plus, it's a great way to boost your mood and relieve stress. So, whether you prefer jogging, dancing, or taking a leisurely stroll, make sure to get those 150 minutes in! Don't just take my word for it - the Centers for Disease Control and Prevention (CDC) recommends at least 150 minutes of moderate-intensity aerobic activity per week for adults. This reccomendation is based on general guidance and you should always consult with a licensed physician before beginning any exercise routine. Lets do this.</p>
                <button class="btn btn-dark">Change my exercise goal</button>
        </div>
</section>
<section id="calorie-goal">
        <div class="goal-div">
                <h2>Calorie Intake</h2>
                <p>Based on your info, your calorie-intake should be:</p> <h5><u><b><%=calorieGoal%> calories per day</b></u></h5> <p>(On average; 5 days per week).</p>
                <p></p>
                <button class="btn btn-light">Change my Calorie goal</button>
        </div>
</section>






<%- include('footer') %>