<%- include('header') %>
<%- include('navbar') %>

<div class="page-headings">
        <h1>Let's set up your goals, <%=firstName%>.</h1>
</div>

<section id="water-goal">
        <div class="goal-div">
                <h2>Water</h2>
                <p>Your current water goal is set to:</p> <h5><u><b><%= waterGoal %> ounces per day</b></u></h5>
                <p>Drinking enough water is crucial for good health, as it regulates body temperature, transports nutrients, and removes waste. The Mayo Clinic recommends that adults aim to drink at least 2.7-3.7 liters (11-15.5 cups) of water per day, depending on their size, activity level, and climate. Men generally need more water than women, as they have more muscle mass and higher water content in their bodies. Women should aim to drink at least 2.7 liters (91 ounces) of water per day, while men should aim for about 3.7 liters (125 ounces) per day. Factors such as pregnancy and medical conditions may require more water intake. Stay hydrated, yo.
                (Learn More: <a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/water/art-20044256)">Mayo Clinic)</a></p>
                <button class="btn btn-primary" id="changeWaterShow">Change my water goal</button>
                <div id="changeWater" class="collapsed-div">
                        <div class="row">
                                <div class="col-lg-4">
                                        <form action="/waterChange" method="post">
                                                <p>Enter your new goal here.</p>
                                                <input type="text" class="form-control changeInput" name="waterChange" placeholder="Enter your new goal here">
                                                <button class="btn btn-primary changeButton" type="submit">Set my Goal</button>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</section>
<section id="exercise-goal">
        <div class="goal-div">
                <h2>Exercise</h2>
                <p>Your current exercise goal is set to:</p> <h5><u><b><%=exerciseGoal%> minutes per day</b></u></h5> <p>(On average; 5 days per week).</p>
                <p>Exercising for 150 minutes a week may sound like a daunting task, but it's actually one of the best things you can do for your health! Not only does it help you maintain a healthy weight, but it also reduces your risk of chronic diseases like heart disease, type 2 diabetes, and certain types of cancer. Plus, it's a great way to boost your mood and relieve stress. So, whether you prefer jogging, dancing, or taking a leisurely stroll, make sure to get those 150 minutes in! Don't just take my word for it - the Centers for Disease Control and Prevention (CDC) recommends at least 150 minutes of moderate-intensity aerobic activity per week for adults. This recommendation is based on general guidance and you should always consult with a licensed physician before beginning any exercise routine. Lets do this.</p>
                <button class="btn btn-dark" id="changeExerciseShow">Change my exercise goal</button>
                <div id="changeExercise" class="collapsed-div">
                        <div class="row">
                                <div class="col-lg-4">
                                        <form action="/exerciseChange" method="post">
                                                <p>Enter your new goal here.</p>
                                                <input type="text" class="form-control changeInput" name="exerciseChange" placeholder="Enter your new goal here">
                                                <button class="btn btn-primary changeButton" type="submit">Set my Goal</button>
                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</section>
<section id="calorie-goal">
        <div class="goal-div">                  
                <h2>Calorie Intake</h2>
                <p>Your current caloric intake goal is set to:</p> <h5><u><b><%=calorieGoal%> calories per day</b></u></h5> <p>(On average — 5 days per week).</p>
                <p>By default, this number starts as your Total Daily Energy Expenditure (TDEE). This the <em>estimated</em> number of calories you would need to eat to maintain your current body weight, assuming you participate in light exercise 1-2 days per week. This number is calculated using generlized factors, such as your height, weight, and sex. Of course, this number will be different for everyone dependent on factors including your physical activity level, muscle mass, and metabolism. If your intentions are to lose or gain weight, we can adjust this goal accordingly. For a more personalized calorie goal, press the button below and tell us more about yourself and your goals. </p>

                        <button class="btn btn-light" id="changeCaloriesShow">Change my calorie goal</button>

                        <div id="changeCalories" class="collapsed-div">
                                <div class="row">
                                        <div class="col-lg-4 center">
                                                <p>Answer a few questions to calculate a personalized goal.</p>
                                                <a href="/calorieQuestions"><button class="btn btn-primary changeButton" type="submit">BET</button></a>
                                        </div>
                                        <div class="col-lg-2 center">
                                                <p>Or...</p>
                                        </div>
                                        <div class="col-lg-4 center">
                                                <p>Set your goal manually.</p>
                                                <form action="/calChange" method="post">
                                                        <input type="text" class="form-control changeInput" name="calChange">
                                                        <button class="btn btn-primary changeButton" type="submit">Set my Goal</button>
                                                </form>
                                        </div>
                                </div>

                        </div>
        </div>
</section>


<script src="goals.js"></script>
<%- include('footer') %>